<h3> Edit <%= @animals.name %></h3>
<form method = "post" action="/animals/<%= @animals.id %>">
  <div class ="form-wrapper">



<div class= "form-el">
  <label for = "name">Name:</label>
  <input type="text" name="name" values="<%= @animals.name%>"/>
</div>

<div class= "form-el">
  <label for = "admission">Admission:</label>
  <input type="date" name="admission" values="<%= @animals.admission%>"/>
</div>

<div class= "form-el">
  <label for = "age">Age:</label>
  <input type="number" name="age" values="<%= @animals.age%>"/>
</div>
</form>

<form method= "post" action="/pizza-orders/ <%= @order.id %>">
<label for="availability">Availability</label>
<select id= "availability" name= "availability">
  <option values="ready">Ready</option>
  <option value= "adopted">Adopted</option>
  <option value= "trainning">Trainning</option>
  <option value= "vet-care">Vet-care</option>
</select>

<div class= "form-el">
  <label for = "type">:</label>
  <input type="text" name="type" values="<%= @animals.type%>"/>
</div>

<div class="form-el">
  <input type= "submit" value="submit"/>

</div>
</form>
