<div class="profile-container">
  <div class = "profile">

    <h1> Animal <%= @animal.name %></h1>

    <p> Admission: <%= @animal.admission %></p>
    <p> Age <%= @animal.age %></p>
    <p> Availability <%= @animal.availability %></p>
    <p> Type <%= @animal.type %></p>
    <a href= "/animals/<%= @animal.id %>/edit"> Edit</a>
    <form action = "/animal/ <%= @animal.id %>/delete" method ="post"><input type="submit" value="Delete"></form>

  </div>
</div>
